# API Configuration
SIRR_PUBLIC_API_URL=http://localhost:8000/api/v1

# App Configuration (Note: These are not currently used anywhere in the code)
SIRR_PUBLIC_APP_NAME=SIRR Admin
SIRR_PUBLIC_APP_URL=http://localhost:3000
